{% load static %}
<div id="page-content-wrap">
	<div class="blog-page-content-wrap section-padding">
		<div class="container">
			<div class="row">
				<!-- Blog content Area Start -->
				<div class="col-lg-12">
					<article class="single-blog-content-wrap">
						<header class="article-head">
							<div class="single-blog-thumb">
								{% if post.featured_image %}
									<img src="{{ post.featured_image.url }}" class="img-fluid" alt="{{ post.title }}">
								{% else %}
									<img src="{% static 'assets/images/blog/blog-1.jpg' %}" class="img-fluid" alt="Blog">
								{% endif %}
							</div>
							<div class="single-blog-meta">
								<h2>{{ post.title }}</h2>
								<div class="posting-info">
									<a href="#">{{ post.published_date|date:"d M Y" }}</a> • Posted by: <a href="#">{{ post.author.full_name }}</a>
									{% if post.category %}
										• in: <a href="#">{{ post.category.name }}</a>
									{% endif %}
								</div>
							</div>
						</header>
						<section class="blog-details">
							{{ post.content|safe }}
						</section>
						<!-- <footer class="post-share">
							<div class="row no-gutters ">
								<div class="col-8">
									<div class="shareonsocial">
										<span>Share:</span>
										<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
										<a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank"><i class="fab fa-twitter"></i></a>
										<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
										<a href="mailto:?subject={{ post.title }}&body={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-vimeo"></i></a>
									</div>
								</div>
								<div class="col-4 text-end">
									<div class="post-like-comm">
										<a href="#"><i class="far fa-thumbs-up"></i>{{ post.views_count }}</a>
										<a href="#"><i class="far fa-comments"></i>0</a>
									</div>
								</div>
							</div>
						</footer> -->
					</article>
				</div>
				<!-- Blog content Area End -->

				<!-- Sidebar Area Start --
				<div class="col-lg-4 order-first order-lg-last">
					<div class="sidebar-area-wrap">
						<!-- Single Sidebar Start --
						<div class="single-sidebar-wrap">
							<div class="brand-search-form">
								<form action="{% url 'blog_list' %}" method="GET">
									<input type="search" name="q" placeholder="Type and hit here">
									<button type="submit"><i class="fa fa-search"></i></button>
								</form>
							</div>
						</div>
						<!-- Single Sidebar End -->

						<!-- Single Sidebar Start -
						<div class="single-sidebar-wrap">
							<h4 class="sidebar-title">Categories</h4>
							<div class="sidebar-body">
								<ul class="brand-unorderlist">
									{% for category in categories %}
									<li><a href="#">{{ category.name }}</a></li>
									{% empty %}
									<li><a href="#">No categories</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<!-- Single Sidebar End -->

						<!-- Single Sidebar Start -->
						<!-- <div class="single-sidebar-wrap d-none d-lg-block">
							<h4 class="sidebar-title">Popular Tags</h4>
							<div class="sidebar-body">
								<div class="tags">
									<a href="#">Bootstrap</a>
									<a href="#">Design</a>
									<a href="#">web</a>
									<a class="active" href="#">custom</a>
									<a href="#">wordpres</a>
									<a href="#">Art</a>
									<a href="#">our team</a>
									<a href="#">Classic</a>
								</div>
							</div>
						</div> -->
						<!-- Single Sidebar End -->
					</div>
				</div>
				<!-- Sidebar Area End -->
			</div>
		</div>
	</div>
</div>