{% load static %}
<section class="error-page">
	<div class="container pr">
		<div class="error-page-content-wrapper text-center">
			<div class="error-image">
				<img src="{% static 'assets/images/background/404.png' %}" alt="Astriol Error">
			</div>
			<!-- /.error-image -->

			<div class="error-content">
				<h2 class="error-title">
					The page you’ re looking<br>
					for fly away
				</h2>

				<p class="subtitle">
					Tell us what you are looking for:
				</p>

				<div class="button-container">
					<a href="index.html" class="gp-btn">Back to Home</a>
					<a href="contact.html" class="gp-btn btn-grey">Contact Us</a>
				</div>
			</div>
		</div>
		<!-- /.error-page-content-wrapper -->
	</div>
	<!-- /.container -->

	<ul class="animate-element">
		<li><img src="{% static 'assets/images/banner/main/rabar.png' %}" alt="Astriol Rabar"></li>
		<li><img src="{% static 'assets/images/banner/main/box_dot.png' %}" alt="Astriol Box"></li>
		<li><img src="{% static 'assets/images/banner/main/flash.png' %}" alt="Astriol Flash"></li>
		<li><img src="{% static 'assets/images/banner/main/angle.png' %}" alt="Astriol Angle"></li>
	</ul>
</section>
<!-- /.error-page -->