{% load static %}
<section class="info-box analytics-box">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-4 col-sm-6">
				<div class="info-boxs wow gptFadeUp">
					<h4 class="sub-title">Vendors</h4>
					<h3 class="title"><a href="service.html">Manage Everything</a></h3>

					<p class="des">
						Vendors get full functionality from the frontend dashboard - coupons, discounts, reviews,
						withdraws, earning reports, support, everything on frontend.
					</p>
				</div>
				<!-- /.info-boxs -->
			</div>
			<!-- /.col-md-4 col-sm-6 -->

			<div class="col-md-4 col-sm-6">
				<div class="info-boxs wow gptFadeUp" data-wow-delay="0.3s">
					<h4 class="sub-title">The best storefront and </h4>
					<h3 class="title"><a href="service.html">Marketplace experience</a></h3>

					<p class="des">
						Ariya offers the best looking storefront, features and follows the most trending marketplace
						design for creating the best customer experience.
					</p>
				</div>
				<!-- /.info-boxs -->
			</div>
			<!-- /.col-md-4 col-sm-6 -->

			<div class="col-md-4 col-sm-6">
				<div class="info-boxs wow gptFadeUp" data-wow-delay="0.5s">
					<h4 class="sub-title">Compatible</h4>
					<h3 class="title"><a href="service.html">With any WooThemes</a></h3>

					<p class="des">
						Ariya frontend is bootstrap based, fully compatible with most (100+) WooCommerce themes and more
						than 17+ fully compatible themes on ThemeForest.
					</p>
				</div>
				<!-- /.info-boxs -->
			</div>
			<!-- /.col-md-4 col-sm-6 -->
		</div>
		<!-- /.row -->

		<div class="button-container text-center wow gptFadeUp">
			<a href="service.html" class="gp-btn color-four">Feature Explainer <i class="ti-arrow-right"></i></a>
		</div>
		<!-- /.button-container text-center -->
	</div>
	<!-- /.container -->
</section>
<!-- /#info-box.text-box -->