{% load static %}
{% if upcoming_event %}
<section id="upcoming-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="upcoming-event-wrap">
					<div class="up-event-titile">
						<h3>Upcoming Event</h3>
					</div>
					<div class="upcoming-event-content owl-carousel">
					
						<div class="single-upcoming-event">
							<div class="row">
								<div class="col-lg-5">
									<div class="up-event-thumb">
										{% if upcoming_event.image %}
											<img src="{{ upcoming_event.image.url }}" class="img-fluid" alt="{{ upcoming_event.title }}">
										{% else %}
											<img src="{% static 'assets/images/event/event-img-1.jpg' %}" class="img-fluid" alt="{{ upcoming_event.title }}">
										{% endif %}
										<h4 class="up-event-date">It's {{ upcoming_event.event_date|date:"j F Y" }}</h4>
									</div>
								</div>

								<div class="col-lg-7">
									<div class="display-table">
										<div class="display-table-cell">
											<div class="up-event-text">
												{% if upcoming_event.is_upcoming %}
												<div class="event-countdown">
													<div class="event-countdown-counter" data-date="{{ upcoming_event.event_date|date:'Y/m/d' }}"></div>
													<p>Remaining</p>
												</div>
												{% endif %}
												<h3><a href="{% url 'event_detail' upcoming_event.slug %}">{{ upcoming_event.title }}</a></h3>
												<p>{{ upcoming_event.description|truncatechars:200 }}</p>
												{% if upcoming_event.is_upcoming %}
												<a href="{% url 'event_detail' upcoming_event.slug %}" class="btn btn-brand btn-brand-dark">Join with us</a>
												{% else %}
												<a href="{% url 'event_detail' upcoming_event.slug %}" class="btn btn-brand btn-brand-dark">View Details</a>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}