/*--== Our Responsibility Area Start ==--*/
#responsibility-area {
	background-color: $section-bg;

	.single-responsibility {
		color: $paragraph-color;
		@include transition();

		img {
			border-radius: 50%;
			@include transition(0.4s);
			margin-bottom: 20px;
		}

		h4 {
			color: $title-color;
			@include font-size(22);
			@include font-weight(700);
			margin: 15px 0 10px;
		}

		&:hover h4 {
			color: $brand-color;
		}

		p {
			margin-bottom: 0;
		}

		&:hover {
			transform: translateY(-5px);

			img {
				@include box-shadow(0px 8px 14px 0px rgba(0, 0, 0, 0.15));
			}
		}
	}
}