{% load static %}
<section id="contact" class="contact">
	<div class="container">
		<div class="row no-gutters align-items-center">
			<div class="col-md-7">
				<div class="contact-form-inner wow fadeInRight" data-wow-delay="0.3s">
					<h2 class="title">
						How can we help?<br> Because that's what we're here for!
					</h2>
					<form action="#" class="contact-form" data-gp-form="contact">
						<div class="row">
							<div class="col-md-6">
								<input type="text" name="cbxfname" placeholder="First Name" required
									   onfocus="this.placeholder=''" onblur="this.placeholder='First Name'">
							</div>
							<!-- /.col-md-6 -->

							<div class="col-md-6">
								<input type="text" name="cbxlname" placeholder="Last Name" required
									   onfocus="this.placeholder=''" onblur="this.placeholder='Last Name'">
							</div>
							<!-- /.col-md-6 -->
						</div>
						<!-- /.row -->

						<input type="text" name="cbxemail" placeholder="Email Address" required
							   onfocus="this.placeholder=''" onblur="this.placeholder='Email Address'">
						<textarea placeholder="Hew can we help?" name="content" required onfocus="this.placeholder=''"
								  onblur="this.placeholder='Hew can we help?'"></textarea>
						<button type="submit" class="submit-btn gp-btn color-four">Send Now</button>

						<div class="form-result alert">
							<div class="content"></div>
						</div>
						<!-- /.form-result-->

					</form>
					<!-- /.contact-form -->
				</div>
				<!-- /.contact-form-inner -->
			</div>
			<!-- /.col-md-7 -->

			<div class="col-md-5">
				<div class="contact-content wow fadeInLeft" data-wow-delay="0.5s">
					<div class="icon">
						<i class="ei ei-icon_headphones"></i>
					</div>

					<h3>Our Help Center</h3>

					<p>
						If you prefer finding answers on your own visit our Help Center
					</p>

					<a href="service.html" class="gp-btn gp-btn-light">Take me There</a>
				</div>
				<!-- /.contact-content -->
			</div>
			<!-- /.col-md-5 -->
		</div>
		<!-- /.row -->

		<div class="contact-infos">
			<div class="row">
				<div class="col-md-4">
					<div class="contact-info">
						<div class="icon">
							<i class="ei ei-icon_check"></i>
						</div>

						<p>14 day <span>Money Back Guarantee</span></p>
					</div>
				</div>
				<!-- /.col-md-4 -->

				<div class="col-md-4">
					<div class="contact-info color-two">
						<div class="icon">
							<i class="ei ei-icon_lock_alt"></i>
						</div>

						<p>Secure Online Payment</p>
					</div>
				</div>
				<!-- /.col-md-4 -->

				<div class="col-md-4">
					<div class="contact-info color-three">
						<div class="icon">
							<i class="ei ei-icon_lifesaver"></i>
						</div>

						<p>14 day <span>Money Back Guarantee</span></p>
					</div>
				</div>
				<!-- /.col-md-4 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.contact-infos -->
	</div>
	<!-- /.container -->
</section>
<!-- /#contact.contact -->