{% load static %}
<section class="our-honorable-commitee section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="about-page-area-title">
					<h2>Our Honorable Committe</h2>
				</div>
			</div>
		</div>

		<div class="honorable-committee-list">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="single-committee-member">
						<div class="commitee-thumb">
							<img src="{% static 'assets/images/committee/commitee-1.jpg' %}" class="img-fluid" alt="Committee"/>
						</div>
						<h3>BRYAN WATSHON<span class="committee-deg">President</span></h3>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-committee-member">
						<div class="commitee-thumb">
							<img src="{% static 'assets/images/committee/commitee-2.jpg' %}" class="img-fluid" alt="Committee"/>
						</div>
						<h3>CARLOS HELU<span class="committee-deg">Vice President</span></h3>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-committee-member">
						<div class="commitee-thumb">
							<img src="{% static 'assets/images/committee/commitee-3.jpg' %}" class="img-fluid" alt="Committee"/>
						</div>
						<h3>ANGLE TUNI<span class="committee-deg">Secretary</span></h3>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-committee-member">
						<div class="commitee-thumb">
							<img src="{% static 'assets/images/committee/commitee-5.jpg' %}" class="img-fluid" alt="Committee"/>
						</div>
						<h3>ALEX KALIFA<span class="committee-deg">Asst Secretary</span></h3>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-committee-member">
						<div class="commitee-thumb">
							<img src="{% static 'assets/images/committee/commitee-6.jpg' %}" class="img-fluid" alt="Committee"/>
						</div>
						<h3>ALEX Tuntuni<span class="committee-deg">Office Secretary</span></h3>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-committee-member">
						<div class="commitee-thumb">
							<img src="{% static 'assets/images/committee/commitee-7.jpg' %}" class="img-fluid" alt="Committee"/>
						</div>
						<h3>MAL MUHIT<span class="committee-deg">Finance Member</span></h3>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-committee-member">
						<div class="commitee-thumb">
							<img src="{% static 'assets/images/committee/commitee-8.jpg' %}" class="img-fluid" alt="Committee"/>
						</div>
						<h3>PRINCE RIMON<span class="committee-deg">Committee Member</span></h3>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-committee-member">
						<div class="commitee-thumb">
							<img src="{% static 'assets/images/committee/commitee-1.jpg' %}" class="img-fluid" alt="Committee"/>
						</div>
						<h3>PRINCE KAMLA<span class="committee-deg">Committee Member</span></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>