{% load static %}
<section class="pricing">
	<div class="bg-shape">
		<img src="{% static 'assets/images/background/1.png' %}" class="wow fadeInLeft" data-wow-delay="0.3s" alt="astriol background">
	</div>
	<div class="container">
		<div class="section-heading-two">
			<h3 class="subtitle">Pricing Plan</h3>
			<h2 class="section-title">Choose Your Plan</h2>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="pricing-table wow fadeInLeft dashed-border" data-wow-delay="0.3s">
					<div class="price-header">
						<h3 class="price-title">Starter Plan</h3>
					</div>
					<!-- /.price-header -->

					<div class="price-period">
						<h2 class="price">Free</h2>
						<span class="period">month</span>
					</div>
					<!-- /.price-period -->

					<ul class="price-feature">
						<li><i class="ei ei-icon_check"></i> Free hosting</li>
						<li><i class="ei ei-icon_check"></i> Unlimited Reviews</li>
						<li><i class="ei ei-icon_close"></i> Word Class Support</li>
						<li><i class="ei ei-icon_close"></i> Free landing page</li>
					</ul>
					<a href="contact.html" class="gp-btn btn-sqr color-five btn-outline">Try This</a>

				</div>
				<!-- /.pricing-table -->
			</div>
			<!-- /.col-lg-4 col-md-6 -->

			<div class="col-lg-4 col-md-6">
				<div class="pricing-table feature-item wow fadeInLeft" data-wow-delay="0.5s">
					<div class="price-header">
						<h3 class="price-title">Enterprise Plan</h3>
					</div>
					<!-- /.price-header -->

					<div class="price-period">
						<h2 class="price">$29.00</h2>
						<span class="period">month</span>
					</div>
					<!-- /.price-period -->

					<ul class="price-feature">
						<li><i class="ei ei-icon_check"></i> Free hosting</li>
						<li><i class="ei ei-icon_check"></i> Unlimited Reviews</li>
						<li><i class="ei ei-icon_check"></i> Word Class Support</li>
						<li><i class="ei ei-icon_close"></i> Free landing page</li>
					</ul>
					<a href="contact.html" class="gp-btn btn-sqr color-five">Try This</a>

				</div>
				<!-- /.pricing-table -->
			</div>
			<!-- /.col-lg-4 col-md-6 -->

			<div class="col-lg-4 col-md-6">
				<div class="pricing-table wow fadeInLeft" data-wow-delay="0.7s">
					<div class="price-header">
						<h3 class="price-title">Unlimited Plan</h3>
					</div>
					<!-- /.price-header -->

					<div class="price-period">
						<h2 class="price">$59.00</h2>
						<span class="period">month</span>
					</div>
					<!-- /.price-period -->

					<ul class="price-feature">
						<li><i class="ei ei-icon_check"></i> Free hosting</li>
						<li><i class="ei ei-icon_check"></i> Unlimited Reviews</li>
						<li><i class="ei ei-icon_check"></i> Word Class Support</li>
						<li><i class="ei ei-icon_check"></i> Free landing page</li>
					</ul>
					<a href="contact.html" class="gp-btn color-five btn-sqr btn-outline">Try This</a>

				</div>
				<!-- /.pricing-table -->
			</div>
			<!-- /.col-lg-4 col-md-6 -->

		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /.pricings -->