{% load static %}
<section id="blog-area" class="section-padding">
	<div class="container">
		<!--== Section Title Start ==-->
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<h2>Our Core Programs</h2>
				</div>
			</div>
		</div>
		<!--== Section Title End ==-->

		<!--== blogs Content Wrapper ==-->
		<div class="row">
			<!--== Single blog Start ==-->
			<div class="col-lg-4 col-md-6">
				<article class="single-blog-post">
					<figure class="blog-thumb">
						<div class="blog-thumbnail">
							<img src="{% static 'assets/images/blog/charity1.jpg' %}" alt="Ramadhan Package Drive" class="img-fluid" style="width: 397; height: 210;"/>
						</div>
						<figcaption class="blog-meta clearfix">
							<p>Community Support</p>
						</figcaption>
					</figure>

					<div class="blog-content">
						<h6>Ramadhan Package Drive</h6>
						<p>Supporting vulnerable families during Ramadhan through food and essential packages.</p>
						<a href="#" class="btn btn-brand">More</a>
					</div>
				</article>
			</div>
			<!--== Single blog End ==-->

			<!--== Single blog Start ==-->
			<div class="col-lg-4 col-md-6">
				<article class="single-blog-post">
					<figure class="blog-thumb">
						<div class="blog-thumbnail">
							<img src="{% static 'assets/images/blog/scholar.jpg' %}" alt="Scholarships Initiative" class="img-fluid" style="width: 397; height: 210;"/>
						</div>
						<figcaption class="blog-meta clearfix">
							<p>Education Support</p>
						</figcaption>
					</figure>

					<div class="blog-content">
						<h6>Scholarships Initiative</h6>
						<p>Providing financial support for academically talented students to pursue higher education.</p>
						<a href="#" class="btn btn-brand">More</a>
					</div>
				</article>
			</div>
			<!--== Single blog End ==-->

			<!--== Single blog Start ==-->
			<div class="col-lg-4 col-md-6">
				<article class="single-blog-post">
					<figure class="blog-thumb">
						<div class="blog-thumbnail">
							<img src="{% static 'assets/images/blog/medical.jpg' %}" alt="Free Medical Camps" class="img-fluid"/>
						</div>
						<figcaption class="blog-meta clearfix">
							<p>Health Care</p>
						</figcaption>
					</figure>

					<div class="blog-content">
						<h6>Free Medical Camps</h6>
						<p>Accessible healthcare for underserved communities through regular medical outreach blogs.</p>
						<a href="#" class="btn btn-brand">More</a>
					</div>
				</article>
			</div>
			<!--== Single blog End ==-->

			<!--== Single blog Start ==-->
			<div class="col-lg-4 col-md-6 mt-4">
				<article class="single-blog-post">
					<figure class="blog-thumb">
						<div class="blog-thumbnail">
							<img src="{% static 'assets/images/blog/iuiu-alumni.jpg' %}" alt="Mentorship & Knowledge Sharing" class="img-fluid"/>
						</div>
						<figcaption class="blog-meta clearfix">
							<p>Learning & Growth</p>
						</figcaption>
					</figure>

					<div class="blog-content">
						<h6>Mentorship & Knowledge Sharing</h6>
						<p>Connecting alumni with students and graduates to foster learning, growth, and career guidance.</p>
						<a href="#" class="btn btn-brand">More</a>
					</div>
				</article>
			</div>
			<!--== Single blog End ==-->

			<!--== Single blog Start ==-->
			<div class="col-lg-4 col-md-6 mt-4">
				<article class="single-blog-post">
					<figure class="blog-thumb">
						<div class="blog-thumbnail">
							<img src="{% static 'assets/images/blog/dinner.jpg' %}" alt="Annual Dinner" class="img-fluid"/>
						</div>
						<figcaption class="blog-meta clearfix">
							<p>Networking</p>
						</figcaption>
					</figure>

					<div class="blog-content">
						<h6>Annual Dinner</h6>
						<p>Networking and celebration of alumni achievements, strengthening the alumni community.</p>
						<a href="#" class="btn btn-brand">More</a>
					</div>
				</article>
			</div>
			<!--== Single blog End ==-->

			<!--== Single blog Start ==-->
			<div class="col-lg-4 col-md-6 mt-4">
				<article class="single-blog-post">
					<figure class="blog-thumb">
						<div class="blog-thumbnail">
							<img src="{% static 'assets/images/blog/online.jpg' %}" alt="Alumni Online Insight Series" class="img-fluid"/>
						</div>
						<figcaption class="blog-meta clearfix">
							<p>Global Learning</p>
						</figcaption>
					</figure>

					<div class="blog-content">
						<h6>Alumni Online Insight Series</h6>
						<p>Continuous learning and interaction for global alumni to stay connected and engaged.</p>
						<a href="#" class="btn btn-brand">More</a>
					</div>
				</article>
			</div>
			<!--== Single blog End ==-->

			<!--== Single blog Start ==-->
			<div class="col-lg-4 col-md-6 mt-4">
				<article class="single-blog-post">
					<figure class="blog-thumb">
						<div class="blog-thumbnail">
							<img src="{% static 'assets/images/blog/backsch.jpg' %}" alt="Welfare – Back to School blog" class="img-fluid"/>
						</div>
						<figcaption class="blog-meta clearfix">
							<p>Alumni Welfare</p>
						</figcaption>
					</figure>

					<div class="blog-content">
						<h6>Welfare – Back to School blog</h6>
						<p>Supporting alumni families with school materials to help children succeed in education.</p>
						<a href="#" class="btn btn-brand">More</a>
					</div>
				</article>
			</div>
			<!--== Single blog End ==-->
		</div>
		<!--== blogs Content Wrapper End ==-->
	</div>
</section>
