{% load static %}
<section class="teams">
	<div class="container">
		<div class="section-heading style-two">
			<h2 class="section-title border-none">
				The A-team of awesomeness &<br>
				creative people</h2>
		</div>
		<!-- /.section-heading -->
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="team-member">
					<div class="team-avatar">
						<img src="{% static 'assets/images/team/1.jpg' %}" alt="Astriol Team">

						<ul class="member-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<!-- /.team-avatar -->

					<div class="member-info">
						<h3 class="name">Desmond Eagle</h3>
						<span class="designation">Founder</span>
					</div>
				</div>
				<!-- /.team-member -->
			</div>
			<!-- /.col-md-4 col-sm-6 -->

			<div class="col-md-4 col-sm-6">
				<div class="team-member">
					<div class="team-avatar">
						<img src="{% static 'assets/images/team/2.jpg' %}" alt="Astriol Team">

						<ul class="member-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<!-- /.team-avatar -->

					<div class="member-info">
						<h3 class="name">Fleece Marigold</h3>
						<span class="designation">Project Manager</span>
					</div>
				</div>
				<!-- /.team-member -->
			</div>
			<!-- /.col-md-4 col-sm-6 -->

			<div class="col-md-4 col-sm-6">
				<div class="team-member">
					<div class="team-avatar">
						<img src="{% static 'assets/images/team/3.jpg' %}" alt="Astriol Team">

						<ul class="member-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<!-- /.team-avatar -->

					<div class="member-info">
						<h3 class="name">Lance Bogrol</h3>
						<span class="designation">Engineer</span>
					</div>
				</div>
				<!-- /.team-member -->
			</div>
			<!-- /.col-md-4 col-sm-6 -->

			<div class="col-md-4 col-sm-6">
				<div class="team-member">
					<div class="team-avatar">
						<img src="{% static 'assets/images/team/4.jpg' %}" alt="Astriol Team">

						<ul class="member-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<!-- /.team-avatar -->

					<div class="member-info">
						<h3 class="name">Douglas Lyphe</h3>
						<span class="designation">Web Developer</span>
					</div>
				</div>
				<!-- /.team-member -->
			</div>
			<!-- /.col-md-4 col-sm-6 -->

			<div class="col-md-4 col-sm-6">
				<div class="team-member">
					<div class="team-avatar">
						<img src="{% static 'assets/images/team/5.jpg' %}" alt="Astriol Team">

						<ul class="member-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<!-- /.team-avatar -->

					<div class="member-info">
						<h3 class="name">Will Barrow</h3>
						<span class="designation">Designer</span>
					</div>
				</div>
				<!-- /.team-member -->
			</div>
			<!-- /.col-md-4 col-sm-6 -->

			<div class="col-md-4 col-sm-6">
				<div class="team-member">
					<div class="team-avatar">
						<img src="{% static 'assets/images/team/6.jpg' %}" alt="Astriol Team">

						<ul class="member-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<!-- /.team-avatar -->

					<div class="member-info">
						<h3 class="name">Phillip Anthropy</h3>
						<span class="designation">Marketing</span>
					</div>
				</div>
				<!-- /.team-member -->
			</div>
			<!-- /.col-md-4 col-sm-6 -->

			<div class="col-md-4 col-sm-6">
				<div class="team-member">
					<div class="team-avatar">
						<img src="{% static 'assets/images/team/7.jpg' %}" alt="Astriol Team">

						<ul class="member-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<!-- /.team-avatar -->

					<div class="member-info">
						<h3 class="name">Chauffina Carr</h3>
						<span class="designation">App Designer</span>
					</div>
				</div>
				<!-- /.team-member -->
			</div>
			<!-- /.col-md-4 col-sm-6 -->

			<div class="col-md-4 col-sm-6">
				<div class="team-member">
					<div class="team-avatar">
						<img src="{% static 'assets/images/team/8.jpg' %}" alt="Astriol Team">

						<ul class="member-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<!-- /.team-avatar -->

					<div class="member-info">
						<h3 class="name">Abraham Pigeon</h3>
						<span class="designation">App Engineer</span>
					</div>
				</div>
				<!-- /.team-member -->
			</div>
			<!-- /.col-md-4 col-sm-6 -->

			<div class="col-md-4 col-sm-6">
				<div class="team-member">
					<div class="team-avatar">
						<img src="{% static 'assets/images/team/9.jpg' %}" alt="Astriol Team">

						<ul class="member-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<!-- /.team-avatar -->

					<div class="member-info">
						<h3 class="name">Hanson Deck</h3>
						<span class="designation">Email Marketing</span>
					</div>
				</div>
				<!-- /.team-member -->
			</div>
			<!-- /.col-md-4 col-sm-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /.teams -->