<!-- {% load static %}
<section class="people-to-say section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="about-page-area-title">
					<h2>Some Speech About Us</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="people-to-say-wrapper owl-carousel">
					
					<div class="single-testimonial-wrap">
						<div class="people-thumb">
							<img src="{% static 'assets/images/testimonial/testi-3.png' %}" alt="Alumni" class="img-fluid"/>
						</div>
						<i class="quote-icon"></i>
						<p>Exxcellent Lorem ipsum dolor sit amet, ectetur adipisicing elit, sed do eimod tempor
							inciidunt ut
							labore et dolorgna aliqua. Ut enim ad minim ostrud. </p>
						<h4>Robert Albert <span class="people-deg">Founder at Boxr</span></h4>
					</div>
					

					<div class="single-testimonial-wrap">
						<div class="people-thumb">
							<img src="{% static 'assets/images/testimonial/testi-1.png' %}" alt="" class="img-fluid">
						</div>
						<i class="quote-icon"></i>
						<p>Exxcellent Lorem ipsum dolor sit amet, ectetur adipisicing elit, sed do eimod tempor
							inciidunt ut
							labore et dolorgna aliqua. Ut enim ad minim ostrud. </p>
						<h4>Akamla Albert <span class="people-deg">Founder at Kamlakana</span></h4>
					</div>


					
					<div class="single-testimonial-wrap">
						<div class="people-thumb">
							<img src="{% static 'assets/images/testimonial/testi-2.png' %}" alt="" class="img-fluid"/>
						</div>
						<i class="quote-icon"></i>
						<p>Exxcellent Lorem ipsum dolor sit amet, ectetur adipisicing elit, sed do eimod tempor
							inciidunt ut
							labore et dolorgna aliqua. Ut enim ad minim ostrud. </p>
						<h4>Taklo Nahid <span class="people-deg">Minister at Nara</span></h4>
					</div>
				
					<div class="single-testimonial-wrap">
						<div class="people-thumb">
							<img src="{% static 'assets/images/testimonial/testi-2.png' %}" alt="" class="img-fluid"/>
						</div>
						<i class="quote-icon"></i>
						<p>Exxcellent Lorem ipsum dolor sit amet, ectetur adipisicing elit, sed do eimod tempor
							inciidunt ut
							labore et dolorgna aliqua. Ut enim ad minim ostrud. </p>
						<h4>Mal Muhit<span class="people-deg">Founder at Kamlagiri</span></h4>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</section> -->