#slider-area {
	position: relative;

	.single-slide-wrap {
		background-color: $black;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		color: $white;
		padding: 155px 0 320px;
		position: relative;
		z-index: 1;

		.slider-content {
			h2 {
				@include font-size(100);
				line-height: 1;
				margin: 0;
			}

			h3 {
				font-size: 36px;
				line-height: 1;
				margin: 20px 0 30px;
			}

			span {
				color: $yellow;
			}

			.slider-btn {
				margin-top: 35px;

				a {
					margin-right: 20px;
					font-size: 15px;
					border-radius: 0;
					text-transform: uppercase;
					font-weight: 600;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		&:after {
			background-color: $black;
			content: "";
			left: 0;
			height: 100%;
			top: 0;
			@include opacity(0.7);
			position: absolute;
			width: 100%;
			z-index: -1;
		}
	}

	.owl-dots {
		text-align: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 65px;

		.owl-dot {
			border: 3px solid transparent;
			outline: none !important;

			span {
				width: 25px;
				height: 25px;
				background-color: $white;
				@include rounded(50%);
				display: inline-block;
				margin-bottom: 15px;
				line-height: 100%;
			}

			&:last-child span {
				margin-bottom: 0;
			}

			&:focus {
				outline: none !important;
			}
		}

		.owl-dot.active span {
			border: 3px solid $white;
			background-color: $brand-color;
			width: 30px;
			height: 30px;
		}
	}

	.slide-bg-1 {
		background-image: url('../images/slider/slider-img-1.jpg');
	}

	.slide-bg-2 {
		background-image: url('../images/slider/slider-img-2.jpg');
	}

	.slide-bg-3 {
		background-image: url('../images/slider/slider-img-3.jpg');
	}

	.social-networks-icon {
		display: none;
		position: absolute;
		left: 40px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;

		a {
			border-bottom: 1px solid $white;
			display: block;
			color: $white;
			@include font-size(30);
			@include transition(0.4s);
			text-align: center;
			padding-bottom: 20px;
			padding-top: 20px;
			position: relative;

			i {
				@include transition(0.4s);
			}

			i.fa {
				@include transition(0.4s);
			}

			&:hover i.fa-facebook {
				color: $facebook;
			}

			&:hover i.fa-twitter {
				color: $twitter;
			}

			&:hover i.fa-pinterest {
				color: $pinterest;
			}

			&:hover i.fa-youtube {
				color: $youtube;
			}

			span {
				position: absolute;
				@include font-size(13);
				@include font-weight(700);
				color: $black;
				display: block;
				background-color: $white;
				padding: 2px 8px;
				left: 100%;
				margin-left: 30px;
				top: 50%;
				transform: translateY(-50%);
				@include opacity(0);
				visibility: hidden;
				@include transition(0.4s);
				width: 120px;

				&:after {
					position: absolute;
					content: '';
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					border-right: 10px solid $white;
					left: -5px;
				}
			}
		}

		li {
			a {
				&:hover span {
					@include opacity(1);
					visibility: visible;
					margin-left: 20px;
				}
			}

			&:last-child a {
				border-bottom: none;
			}
		}
	}
}