#blog-area {
	background-color: $section-bg;

}

.single-blog-post {
	@include transition(0.3s);

	.blog-thumb {
		position: relative;
		display: block;
		overflow: hidden;
		margin-bottom: 0;

		.blog-thumbnail {
			min-height: 210px;
			position: relative;

			img {
				width: 100%;
				min-height: 210px;
				object-fit: cover;
			}

			&:after {
				@include bg-gradient();
				content: '';
				position: absolute;
				left: 0;
				height: 100%;
				bottom: 0;
				width: 100%;
			}
		}

		.blog-meta {
			position: absolute;
			left: 0;
			bottom: 15px;
			width: 100%;
			padding: 0 30px;

			.author {
				.author-pic {
					display: inline-block;
					vertical-align: middle;

					img {
						width: 35px;
						height: 35px;
						@include rounded(3px);
					}
				}

				.author-info {
					display: inline-block;
					vertical-align: middle;
					@include font-size(12);
					line-height: 1;
					margin-left: 5px;

					h5 {
						color: $white;
						@include font-size(14);
						line-height: 1;
						margin-bottom: 3px;
					}

					p {
						margin: 0;
						color: $white;
					}
				}
			}

			.like-comm {
				display: inline-block;
				vertical-align: middle;
				margin-top: 5px;

				a {
					color: $white;
					@include font-size(12);
					margin-right: 5px;

					i.fa {
						margin-right: 4px;
					}
				}
			}

			a {
				@include transition(0.4s);

				&:hover {
					color: $brand-color-light;
				}
			}
		}
	}

	.blog-content {
		background-color: $white;
		padding: 30px;
		color: $paragraph-color;

		h3 {
			@include font-size(20);
			@include font-weight(500);
			line-height: 1.4;
			margin-bottom: 25px;

			a {
				color: $title-color;
			}
		}

		.btn-brand {
			padding: 6px 22px;
			@include font-size(14);
			@include font-weight(500);
			text-transform: capitalize;
			margin-top: 10px;

			&:hover {
				background-color: $ash-black;
				color: $white;
			}
		}
	}

	.blog-thumb-1 {
		background-image: url("../images/blog/blog-1.jpg");
	}

	.blog-thumb-2 {
		background-image: url("../images/blog/blog-2.jpg");
	}

	.blog-thumb-3 {
		background-image: url("../images/blog/blog-3.jpg");
	}

	&:hover {
		@include box-shadow(0px 8px 14px 0px rgba(0, 0, 0, 0.15));
		transform: translateY(-5px);
	}
}

.single-blog-thumb {
	img {
		width: 100%;
	}
}



.blog-page-content-wrap {
	background-color: $section-bg;
}

.single-blog-content-wrap {
	background-color: $white;

	.single-blog-meta {
		border-bottom: 1px solid $dark-halka;
		padding-bottom: 25px;
		margin-bottom: 20px;
		padding: 25px;

		h2 {
			@include font-size(25);
			line-height: 1.3;
			@include font-weight(400);
		}

		.posting-info {
			color: $darkmeta;
			@include font-size(18);
			line-height: 1;
			font-style: italic;
			margin-top: 10px;

			a {
				color: $darkmeta;
				@include transition(0.4s);

				&:hover {
					color: $brand-color;
				}
			}
		}
	}

	.blog-details {
		line-height: 1.8;
		padding: 0 25px 25px;

		p {
			color: $paragraph-color;
		}

		h5 {
			@include font-size($font-size-base);
			@include font-weight(700);
			margin-bottom: 10px;
		}

		img {
			margin-bottom: 25px;
		}
	}

	.post-share {
		background-color: $brand-color;
		padding: 10px 30px;

		.shareonsocial {
			display: flex;
			align-items: center;

			a {
				width: 35px;
				height: 35px;
				background-color: $white;
				margin-right: 7px;
				text-align: center;
				line-height: 35px;
				color: $brand-color;
				@include transition(0.4s);

				&:hover {
					background-color: $brand-color-light;
					color: $white;
				}
			}

			span {
				color: $white;
				@include font-weight(500);
				@include font-size(20);
				line-height: 1;
				margin-right: 20px;
			}
		}

		.post-like-comm {
			@include font-size(14);
			line-height: 1;
			margin: 10px 0;

			a {
				color: $white;
				margin-left: 15px;
				@include transition(0.4s);

				i {
					margin-right: 4px;
				}
			}
		}
	}
}
