/*--== Scholership Promo Area Start ==--*/
#scholership-promo {
	background-image: url("../images/scholership.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 100px 0 117px;

	.scholership-promo-text {
		@include font-size(20);

		h2 {
			margin-bottom: 25px;
			@include font-size(40);
			color: $title-color;

			span {
				color: $brand-color;
			}
		}

		.btn-brand {
			margin-top: 35px;

			&:hover {
				background-color: $ash-black;
				color: $white;
			}
		}
	}
}