/*--== Job Opportunity Area Start ==--*/
#job-opportunity {
	.job-opportunity-wrapper {
		margin-top: -30px;
	}
}

.single-job-opportunity {
	border: 1px solid $light-blue;
	padding: 30px 0;
	margin-top: 30px;
	color: $paragraph-color;
	@include font-size(14);
	@include transition(0.4s);

	.job-opportunity-text {
		padding: 0 20px;

		.job-oppor-logo {
			height: 80px;

			img {
				max-width: 80px;
				max-height: 80px;
				margin: auto;
			}
		}

		h3 {
			margin: 20px 0 25px;

			a {
				@include font-size(17);
				line-height: 1.3;
				display: block;
				@include font-weight(700);
				color: $title-color;
				@include transition(0.4s);

				&:hover {
					color: $brand-color;
				}
			}
		}
	}

	.btn-job {
		margin-top: 15px;
		display: inline-block;
		padding: 10px 40px;
	}

	&:hover {
		@include box-shadow(0px 8px 14px 0px rgba(0, 0, 0, 0.15));
	}
}