.people-to-say {
    background-color: $section-bg;

    .about-page-area-title {
        margin-bottom: 50px;
    }

    .single-testimonial-wrap {
        background-color: $white;
        position: relative;
        padding: 0 20px 65px;
        margin: 97px 0 40px;
        @include transition(0.4s);
        text-align: center;

        .people-thumb {
            position: absolute;
            left: 50%;
            top: 0;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            margin-top: -65px;

            img {
                width: 130px;
                height: 130px;
                @include rounded(50%);
                @include transition(0.4s);
                border: 4px solid transparent;
            }
        }

        h4 {
            @include font-size(24);
            line-height: 1;
            @include font-weight(700);
            background-color: $brand-color;
            color: $white;
            padding: 20px 10px;
            margin-bottom: 0;
            position: absolute;
            right: 0;
            bottom: -40px;
            width: calc(100% - 30px);

            .people-deg {
                @include font-size(15);
                line-height: 1;
                @include font-weight(400);
                color: $white;
                @include opacity(0.8);
                letter-spacing: 0.7px;
                display: block;
                margin-top: 10px;
            }
        }

        .quote-icon {
            display: inline-block;
            margin: 90px 0 15px;

            &:after {               
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center center;
                content: '';
                width: 68px;
                display: block;
                height: 52px;
                text-align: center;
            }
        }

        &:hover {
            @include box-shadow(0px 8px 14px 0px rgba(0, 0, 0, 0.15));
            transform: translateY(-5px);

            .people-thumb {
                img {
                    border-color: $brand-color;
                }
            }
        }
    }
}