#upcoming-area {
	display: none;
	margin-top: -190px;
	position: relative;
	z-index: 1;

	.upcoming-event-wrap {
		background-color: $brand-color;
		padding: 40px;
		color: $white;
		position: relative;

		.up-event-titile {
			position: absolute;
			text-align: center;
			margin: 0;
			top: -31px;

			h3 {
				background-color: $white;
				@include font-size(26);
				color: $black;
				text-transform: capitalize;
				@include font-weight(700);
				padding: 10px 45px;
				margin: 0;
				box-shadow: 14px 0 26px rgba(0, 0, 0, 0.4);
			}
		}

		.upcoming-event-content {
			.owl-nav {
				position: absolute;
				bottom: -40px;
				right: -35px;

				button {
					outline: none;
					background-color: $brand-color-light;
					width: 45px;
					height: 45px;
					@include font-size(20);
					line-height: 48px;
					text-align: center;
					margin-bottom: 5px;
					@include transition();

					&:hover {
						background-color: $white;
						color: $ash-black;
					}

					&focus {
						outline: none;
					}
				}
			}
		}
	}
}

.single-upcoming-event {
	.up-event-thumb {
		position: relative;
		min-height: 294px;

		img {
			width: 100%;
			display: block;
		}

		.up-event-date {
			color: $paragraph-color;
			@include font-size(18);
			@include font-weight(700);
			background-color: $white;
			padding: 12px;
			text-align: center;
			position: absolute;
			width: 100%;
			bottom: -5px;
			border-bottom: 8px solid $black;
		}
	}

	.up-event-text {
		h3 {
			@include font-size(30);

			a {
				color: $white;
			}
		}

		a {
			margin-top: 10px;
		}
	}
}


.event-page-content-wrap {
	background-color: $section-bg;

	.all-event-list {
		margin-top: -30px;

		.single-upcoming-event {
			background-color: $brand-color;
			color: $white;
			padding: 30px;
			margin-top: 30px;
		}
	}
}

.event-filter-area {
	margin-bottom: 60px;

	.form-inline {
		justify-content: center;
	}

	.nice-select {
		height: 54px;
		margin-right: 20px;
		text-align: center;
		background-color: $white;
		color: $darkmeta;
		@include font-weight(700);
		@include font-size($font-size-base);
		line-height: 54px;
		text-transform: uppercase;

		&:after {
			border-color: $darkmeta;
			width: 8px;
			height: 8px;
			margin-top: -7px;
		}
	}

	.btn-brand {
		padding: 12px 25px;

		&:hover,
		&:active {
			background-color: $brand-color-dark;
			color: $white;
		}
	}
}

.single-event-page-content {
	background-color: $section-bg;

	.single-event-details {
		h2 {
			@include font-size(36);
			line-height: 1.3;
			color: $title-color;
			margin-top: 60px;
			margin-bottom: 20px;
		}

		p {
			line-height: 2;
			margin-bottom: 30px;
		}

		.event-schedul {
			h3 {
				background-color: $brand-color;
				color: $white;
				@include font-size(30);
				line-height: 1.3;
				@include font-weight(500);
				text-align: center;
				padding: 12px;
				margin-bottom: 65px;
				margin-top: 90px;
			}

			.event-schedul-accordion {
				.card {
					margin-top: 10px;

					.card-header {
						background-color: $white;
						padding: 18px 15px 10px;

						h5 {
							@include font-size(18);
							line-height: 1.3;
							@include font-weight(700);
							color: $title-color;
							cursor: pointer;
							margin-bottom: 0;

							.event-time {
								background-color: $brand-color;
								color: $white;
								@include font-size(14);
								padding: 10px 13px;
								margin-right: 20px;
							}

							i.fa {
								@include font-size(30);
								line-height: 1;
								@include font-weight(700);
								color: $darkmeta;
							}
						}

						h5[aria-expanded="false"] {
							i.fa-angle-up {
								display: none;
							}
						}

						h5[aria-expanded="true"] {
							i.fa-angle-down {
								display: none;
							}
						}
					}

					.card-body {
						background-color: $white;
						padding: 20px 30px 30px;

						p {
							margin-bottom: 10px;
						}

						.speaker-name {
							color: $brand-color;
							@include font-size(18);
							line-height: 1;
							font-style: italic;
							@include font-weight(500);
							margin-bottom: 0;
							margin-top: 15px;

							strong {
								text-transform: uppercase;
								@include font-weight(700);
								color: $paragraph-color;
								font-style: normal;
							}

							.speaker-deg {
								color: $darkmeta;
								border-bottom: 2px solid $darkmeta;
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}

		.event-thumb-item {
			min-height: 500px;
			max-height: 500px;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			z-index: 1;

			&:after {
				background-color: $black;
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				@include opacity(0.2);
				z-index: -1;
			}

			.event-meta {
				background-color: rgba(0, 0, 0, 0.8);
				border-top: 2px solid $brand-color-dark;
				color: $white;
				padding: 15px 30px;
				z-index: 1;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;

				.event-address {
					color: $yellow;
					text-decoration: underline;
					margin: 10px 0 5px;
				}

				h3 {
					@include font-size(24);
					line-height: 1.3;
					margin-bottom: 0;
				}

				.btn-join {
					color: $white;
					text-decoration: none;
					@include font-weight(600);
					border: 1px solid $white;
					padding: 8px 30px;
					text-align: right;
					position: absolute;
					right: 30px;
					top: 50%;
					transform: translateY(-50%);

					&:hover,
					&:active {
						color: $brand-color;
					}
				}
			}
		}
	}

	.event-thumb-img-1 {
		background-image: url("../images/blog/blog-1.jpg");
	}

	.event-thumbnails {
		position: relative;

		.event-countdown {
			padding: 20px 50px;
			text-align: center;
			background-color: $brand-color;
			border: 1px solid $white;
			border-top: none;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 9;

			P {
				position: static;
				color: $white;
				margin-bottom: 0;
			}

			.counter-item {
				&:last-child {
					margin-right: 0;
				}
			}
		}

		.owl-nav {
			div {
				width: 50px;
				height: 50px;
				text-align: center;
				@include font-size(20);
				line-height: 50px;
				background-color: $brand-color;
				color: $white;
				position: absolute;
				top: 50%;
				left: 20px;
				margin-top: -25px;
				@include transition(0.4s);
				@include opacity(0);
				visibility: hidden;
			}

			div.owl-next {
				left: auto;
				right: 20px;
			}
		}
	}
}

.event-countdown {
	margin-bottom: 18px;
	position: relative;
	display: inline-block;

	.event-countdown-counter {
		display: flex;

		.counter-item {
			text-align: center;
			color: $white;
			margin-right: 15px;

			.counter-label {
				@include font-size(14);
				line-height: 1;
				@include font-weight(700);
				display: block;
				margin-bottom: 5px;
			}

			.single-cont {
				@include font-size(18);
				line-height: 1;
				@include font-weight(700);
				border: 1px solid $white;
				background-color: $ash-black;
				padding: 10px;
				display: inline-block;
			}
		}
	}

	p {
		@include font-size(18);
		line-height: 1;
		@include font-weight(700);
		margin-bottom: 0;
		position: absolute;
		bottom: 0;
		left: 100%;
	}
}

.event-thumbnail-carousel {
	@include transition(0.4s);

	&:hover {
		.owl-nav {
			div {
				@include opacity(1);
				visibility: visible;
				left: 0;
			}

			div.owl-next {
				right: 0;
				left: auto;
			}
		}
	}
}





.event-page-content-wrap {
	background-color: $section-bg;

	.all-event-list {
		margin-top: -30px;

		.single-upcoming-event {
			background-color: $brand-color;
			color: $white;
			padding: 30px;
			margin-top: 30px;
		}
	}
}

.event-filter-area {
	margin-bottom: 60px;

	.form-inline {
		justify-content: center;
	}

	.nice-select {
		height: 54px;
		margin-right: 20px;
		text-align: center;
		background-color: $white;
		color: $darkmeta;
		@include font-weight(700);
		@include font-size($font-size-base);
		line-height: 54px;
		text-transform: uppercase;

		&:after {
			border-color: $darkmeta;
			width: 8px;
			height: 8px;
			margin-top: -7px;
		}
	}

	.btn-brand {
		padding: 12px 25px;

		&:hover,
		&:active {
			background-color: $brand-color-dark;
			color: $white;
		}
	}
}

.single-event-page-content {
	background-color: $section-bg;

	.single-event-details {
		h2 {
			@include font-size(36);
			line-height: 1.3;
			color: $title-color;
			margin-top: 60px;
			margin-bottom: 20px;
		}

		p {
			line-height: 2;
			margin-bottom: 30px;
		}

		.event-schedul {
			h3 {
				background-color: $brand-color;
				color: $white;
				@include font-size(30);
				line-height: 1.3;
				@include font-weight(500);
				text-align: center;
				padding: 12px;
				margin-bottom: 65px;
				margin-top: 90px;
			}

			.event-schedul-accordion {
				.card {
					margin-top: 10px;

					.card-header {
						background-color: $white;
						padding: 18px 15px 10px;

						h5 {
							@include font-size(18);
							line-height: 1.3;
							@include font-weight(700);
							color: $title-color;
							cursor: pointer;
							margin-bottom: 0;

							.event-time {
								background-color: $brand-color;
								color: $white;
								@include font-size(14);
								padding: 10px 13px;
								margin-right: 20px;
							}

							i.fa {
								@include font-size(30);
								line-height: 1;
								@include font-weight(700);
								color: $darkmeta;
							}
						}

						h5[aria-expanded="false"] {
							i.fa-angle-up {
								display: none;
							}
						}

						h5[aria-expanded="true"] {
							i.fa-angle-down {
								display: none;
							}
						}
					}

					.card-body {
						background-color: $white;
						padding: 20px 30px 30px;

						p {
							margin-bottom: 10px;
						}

						.speaker-name {
							color: $brand-color;
							@include font-size(18);
							line-height: 1;
							font-style: italic;
							@include font-weight(500);
							margin-bottom: 0;
							margin-top: 15px;

							strong {
								text-transform: uppercase;
								@include font-weight(700);
								color: $paragraph-color;
								font-style: normal;
							}

							.speaker-deg {
								color: $darkmeta;
								border-bottom: 2px solid $darkmeta;
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}

		.event-thumb-item {
			min-height: 500px;
			max-height: 500px;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			z-index: 1;

			&:after {
				background-color: $black;
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				@include opacity(0.2);
				z-index: -1;
			}

			.event-meta {
				background-color: rgba(0, 0, 0, 0.8);
				border-top: 2px solid $brand-color-dark;
				color: $white;
				padding: 15px 30px;
				z-index: 1;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;

				.event-address {
					color: $yellow;
					text-decoration: underline;
					margin: 10px 0 5px;
				}

				h3 {
					@include font-size(24);
					line-height: 1.3;
					margin-bottom: 0;
				}

				.btn-join {
					color: $white;
					text-decoration: none;
					@include font-weight(600);
					border: 1px solid $white;
					padding: 8px 30px;
					text-align: right;
					position: absolute;
					right: 30px;
					top: 50%;
					transform: translateY(-50%);

					&:hover,
					&:active {
						color: $brand-color;
					}
				}
			}
		}
	}

	.event-thumb-img-1 {
		background-image: url("../images/blog/blog-1.jpg");
	}

	.event-thumbnails {
		position: relative;

		.event-countdown {
			padding: 20px 50px;
			text-align: center;
			background-color: $brand-color;
			border: 1px solid $white;
			border-top: none;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 9;

			P {
				position: static;
				color: $white;
				margin-bottom: 0;
			}

			.counter-item {
				&:last-child {
					margin-right: 0;
				}
			}
		}

		.owl-nav {
			div {
				width: 50px;
				height: 50px;
				text-align: center;
				@include font-size(20);
				line-height: 50px;
				background-color: $brand-color;
				color: $white;
				position: absolute;
				top: 50%;
				left: 20px;
				margin-top: -25px;
				@include transition(0.4s);
				@include opacity(0);
				visibility: hidden;
			}

			div.owl-next {
				left: auto;
				right: 20px;
			}
		}
	}
}

.event-countdown {
	margin-bottom: 18px;
	position: relative;
	display: inline-block;

	.event-countdown-counter {
		display: flex;

		.counter-item {
			text-align: center;
			color: $white;
			margin-right: 15px;

			.counter-label {
				@include font-size(14);
				line-height: 1;
				@include font-weight(700);
				display: block;
				margin-bottom: 5px;
			}

			.single-cont {
				@include font-size(18);
				line-height: 1;
				@include font-weight(700);
				border: 1px solid $white;
				background-color: $ash-black;
				padding: 10px;
				display: inline-block;
			}
		}
	}

	p {
		@include font-size(18);
		line-height: 1;
		@include font-weight(700);
		margin-bottom: 0;
		position: absolute;
		bottom: 0;
		left: 100%;
	}
}

.event-thumbnail-carousel {
	@include transition(0.4s);

	&:hover {
		.owl-nav {
			div {
				@include opacity(1);
				visibility: visible;
				left: 0;
			}

			div.owl-next {
				right: 0;
				left: auto;
			}
		}
	}
}


.single-event-details {
	.event-thumbnail-carousel {
		.owl-nav {
			button {
				width: 50px;
				height: 50px;
				text-align: center;
				font-size: 2rem;
				line-height: 3.2rem;
				line-height: 50px;
				background-color: $brand-color;
				color: #fff;
				position: absolute;
				top: 50%;
				left: 20px;
				margin-top: -25px;
				transition: all .4s ease-out;
				-moz-opacity: 0;
				-khtml-opacity: 0;
				-webkit-opacity: 0;
				opacity: 0;
				-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
				filter: alpha(opacity=0);
				visibility: hidden;

				&.owl-next {
					left: auto;
					right: 20px;
				}

				&.owl-prev {
					left: 20px;
				}
			}
		}

		&:hover {
			.owl-nav {
				button {
					opacity: 1;
					visibility: visible;

					&.owl-next {
						right: 0;
					}

					&.owl-prev {
						left: 0;
					}
				}
			}


		}
	}
}


.cbx-acacordion {
	.accordion-item {
		&:first-of-type {
			border-radius: 0;

			.accordion-button {
				border-radius: 0;
			}
		}
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	.accordion-header {
		margin: 0 !important;
	}

	.accordion-button {
		@include font-size(18);
		line-height: 1.3;
		font-weight: 700;
		color: #131c33;
		cursor: pointer;
		margin-bottom: 0;
		border-bottom: 1px solid #0000002d;
		padding: 15px 20px;

		&:focus {
			box-shadow: none;
		}

		span {
			@include font-size(14);
			background-color: $brand-color;
			color: #fff;
			padding: 10px 13px;
			margin-right: 20px;

		}

		&:not(.collapsed) {
			color: $brand-color;
			background-color: transparent;
		}
	}

	p {
		margin-bottom: 1em !important;
	}

	.accordion-body {
		padding: 15px 20px 30px;
	}
	

	h4.speaker-name {
		color: $brand-color;
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 1;
		font-style: italic;
		font-weight: 500;
		margin-bottom: 0;
		margin-top: 15px;

		strong {
			text-transform: uppercase;
			font-weight: 700;
			color: #3a3b3c;
			font-style: normal;
		}

		.speaker-deg {
			color: #6a78a1;
			border-bottom: 2px solid #6a78a1;
			margin-bottom: 0;
		}
	}
}