{% extends 'layouts/app.html' %}

{# Page Title #}
{% block title %} Blog Details - {{ appInfo.name }}{% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# ID, Class or Attribute in body tag #} {% block attribute %}id="bolg-no-sidebar-v1" class="bolg-no-sidebar-page-one" data-style="default"{% endblock %}

{# Custom Code In Footer #}
{% block head %}{% endblock %}

{% block content %}

<!--=========================-->
<!--=        Navbar         =-->
<!--=========================-->
{% include 'shared/navbar.html' %}

<!--==========================-->
<!--=         Banner         =-->
<!--==========================-->
{% include 'shared/blog-details-banner.html' %}

<!--=======================-->
<!--=         Blog        =-->
<!--=======================-->
{% include 'sections/blog-single-nosidebar.html' %}

<!--=========================-->
<!--=        Footer         =-->
<!--=========================-->
{% include 'shared/footer.html' %}

{% endblock %}